/*CSS RESET*/
*{

margin    : 0;
padding   : 0;
box-sizing: border-box;

}

body {

     max-width                 : 100%;
     overflow-x                : hidden;
     margin                    : auto;
     /*  max-width             : 1440px;*/
     font-family               : 'Bad Script',  cursive; font-family: 'Fondamento', cursive;
     /*        background-color: #333;*/
     text-shadow               : 0 0.05rem 0.1rem rgb(0 0 0 / 50%);
     box-shadow                : inset 0 0 5rem rgb(0 0 0 / 50%);
     


background-color: #000000;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23000000'/%3E%3Cstop offset='1' stop-color='%23000000'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%234d0740' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%234d0740' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;

}






/*NAVBAR START*/

#header {
  background-color   : #1A1A1D;
  /* background-color: #fff;*/
  transition         : all 0.5s;
  z-index            : 997;
  top                : 0;
  width              : 100%;
  margin             :auto;


}

#navbarScroll{
  --bs-scroll-height: 130px;
}



  .navbar-brand {
  
  position   : relative;
  margin-left: 200px;
  display    : block;
  
  }

    @media (width    : 4000px) {
    .navbar-brand {
    margin-left      : -240px;
    position         : relative;
    display          : block;
    }
    }
    
    @media (min-width: 1024px) {
    .navbar-brand {
    margin-left      : 320px;
    position         : relative;
    display          : block;
    }
    }
    
    @media (min-width: 1px) {
    .navbar-brand {
    background       : url(assets/images/ARV2.png);
    width            : 293px;
    height           : 31px;
    background-repeat: no-repeat;
    position         : relative;
    margin           :auto;
    
    }
    }
    @media (min-width: 768px) {
    .navbar-brand {
    background       : url(assets/images/ARV2.png);
    width            : 293px;
    height           : 31px;
    background-repeat: no-repeat;
    position         : relative;
    margin           :auto;
    display          : none;
    visibility       : hidden;

  }
}





.navbar-edit {
  padding           : 20px 0;
  width             : 100%;
  border-radius     : 0px;
  z-index           : 999;
  margin-bottom     : 0px;
  -webkit-transition: all 0.2s ease-in-out;
  transition        : all 0.2s ease-in-out;
  }

.navbar-edit .navbar-toggler {
  color    : #E5DADA;
  font-size: 25px;
  padding  : 0px;
}

.navbar-edit .navbar-brand {
  margin-right: 0 !important;
}

.navbar-edit .navbar-brand  {
  display: none;
}

.navbar-edit .navbar-brand .l-light {
  display: inline-block;
}

.navbar-edit .navbar-nav .nav-item .nav-link {
  color             : rgba(255, 255, 255, 0.7);
  font-size         : 15px;
  background-color  : transparent !important;
  margin            : 0 8px;
  font-weight       : 600;
  letter-spacing    : 1px;
  line-height       : 20px;
  -webkit-transition: all 0.2s;
  transition        : all 0.2s;
  font-family       : "Audiowide", sans-serif;
}

.navbar-edit .navbar-nav .nav-item .nav-link:hover, .navbar-edit .navbar-nav .nav-item .nav-link:active {
  color: #DE3C3C;
}

.navbar-edit .navbar-nav .nav-item.active .nav-link {
  color: #DE3C3C !important;
}

.navbar-edit .navbar-nav .dropdown-toggle::after {
          content          : "\F140";
          font             : normal normal normal 24px/1 "Material Design Icons";
          vertical-align   : middle;
          border-top       : none;
          margin           : 0;
          font-size        : 15px;
          float            : none;
          -webkit-transform: translateX(-6px) translateY(-1px);
          transform        : translateX(-6px) translateY(-1px);
}

.navbar-edit .navbar-nav .dropdown {
  position          : relative;
  -webkit-transition: all 0.2s ease;
  transition        : all 0.2s ease;
}

.navbar-edit .navbar-nav .dropdown .dropdown-menu {
          border-color      : transparent;
          border-radius     : 0;
          -webkit-box-shadow: 0 0 3px rgba(60, 72, 88, 0.15);
          box-shadow        : 0 0 3px rgba(60, 72, 88, 0.15);
}

.navbar-edit .navbar-nav .dropdown .dropdown-menu:before {
          content                 : "";
          position                : absolute;
          top                     : 0;
          margin-left             : 45px;
          -webkit-box-sizing      : border-box;
          box-sizing              : border-box;
          border                  : 7px solid #3c4858;
          border-color            : transparent transparent #ffffff #ffffff;
          -webkit-transform-origin: 0 0;
          transform-origin        : 0 0;
          -webkit-transform       : rotate(135deg);
          transform               : rotate(135deg);
          -webkit-box-shadow      : -3px 1px 3px 0px rgba(0, 0, 0, 0.06) !important;
          box-shadow              : -3px 1px 3px 0px rgba(0, 0, 0, 0.06) !important;
}

.navbar-edit .navbar-nav .dropdown .dropdown-item {
  padding: 7px 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-size: 13px;
}

.navbar-edit .navbar-nav .dropdown .dropdown-item:hover, .navbar-edit .navbar-nav .dropdown .dropdown-item:focus {
  background-color: transparent;
  color: #DE3C3C;
}

.navbar-edit .navbar-nav .dropdown:hover .dropdown-menu, .navbar-edit .navbar-nav .dropdown:focus .dropdown-menu {
  display: block;
}

.navbar-edit .navbar-nav.navbar-nav-link .nav-item .nav-link {
  color: #3c4858;
}

.navbar-edit .navbar-nav.navbar-nav-link .nav-item .nav-link:hover, .navbar-edit .navbar-nav.navbar-nav-link .nav-item .nav-link:active {
  color: #DE3C3C;
}

.navbar-edit .navbar-nav.navbar-nav-link.active .nav-link {
  color: #DE3C3C !important;
}

  .navbar-edit .navbar-nav .nav-item:last-child .nav-link {
  margin-right                      : 0;
  padding-right                     : 0;
  }

.navbar-edit {
  margin: 0 0 0 8px;
}

.navbar-edit li {
  margin-bottom: 0px !important;
}

.navbar-edit li a {
  color       : #3c4858;
  border-color: #3c4858;
}

.navbar-edit.light-social-icon li a {
  color       : #e9ecef;
  border-color: #e9ecef;
}

.navbar-edit {
          margin-top        : 0px;
          padding           : 12px 0px;
          background-color  : #ffffff;
          -webkit-box-shadow: 0 10px 33px rgba(0, 0, 0, 0.1);
          box-shadow        : 0 10px 33px rgba(0, 0, 0, 0.1);
          color             : #3c4858 !important;
}

.navbar-edit .navbar-brand {
  margin-right: 0 !important;
}

.navbar-edit .navbar-brand  {
  display: inline-block;
}



.navbar-edit .navbar-nav {
  margin-top: 0px;
}

.navbar-edit .navbar-nav .nav-item .nav-link {
  color: #ffffff;
}

.navbar-edit .navbar-nav .nav-item .nav-link:hover, .navbar-edit .navbar-nav .nav-item .nav-link:active {
  color: #DE3C3C !important;
}

.navbar-edit .navbar-nav .nav-item.active .nav-link .nav-link {
  color: #DE3C3C !important;
}

.navbar-edit.sticky-light {
  background-color: #ffffff;
}

 .navbar-brand {
  color: #3c4858 !important;
}

.light-social-icon li a {
  color       : #3c4858;
  border-color: #3c4858;
}

 .dropdown-menu {
  border: none;
}

          .dropdown-menu    ::before {
          -webkit-box-shadow: -3px 1px 3px 0px rgba(0, 0, 0, 0.06) !important;
          box-shadow        : -3px 1px 3px 0px rgba(0, 0, 0, 0.06) !important;
          }

.soloTEXT {
  position         : relative;
  font-size        : 20px;
  text-align       : left;
  margin-top       : 450px;
  margin-left      : 55px;
  max-width        : 700px;
  color            : white;
  opacity          : 0.5;
  }
  
  @media (max-width: 1199px) {
  .soloTEXT {
  font-size        : 15px;
  width            : 400px;
  }
  }
  
  @media (max-width: 460px) {
  .soloTEXT {
  font-size        : 12px;
  width            : 240px;
  opacity          : 0.7;
  display          : none;
  }
  }

/*NAVBAR TEXT*/

.carouselText {

  font-size: 30px;
}

.carousel {

background-color: #0000;
}

/*NAVBAR TEXT*/


/*NAVBAR END*/

/*CAROUSEL START*/


/*#carouselF {

}*/

.carousel .carousel-item {
  height: 750px;
}


.carousel-inner img {
 width          : 100%;
 height         : 100%;
 display        : flex;
 justify-content: center;
 align-items    : center;
 position       : absolute;
 object-fit     :cover;
 bottom         : 0;
 top            : 0;
 left           : 0;
 right          : 0;
 min-height     : 200px;
  }


/*CAROUSEL END*/




.aboutme {
    z-index              :  999;
    background-color     : #ffffff;
    background-image     : url(assets/images/pattern.svg);
    background-attachment: fixed;
    background-size      : cover;
    

}

.aboutme .content {
  padding: 30px 0;
}

.aboutme .content h3 {
  text-align : center;
  font-weight: 700;
  font-size  : 34px;
}

.aboutme .content p {
  margin-bottom: 0;
}

.aboutme .content .hobby-icon {
  margin-top: 25px;
  }


.aboutme .content .hobby-icon h4 {
  font-size  : 20px;
  font-weight: 700;
  margin     : 5px 0 10px 0px;
}

.aboutme .content .hobby-icon i {
  font-size: 48px;
  float    : left;
  color    : #5c9f24;
}

.aboutme .content .hobby-icon p {
  font-size  : 15px;
  color      : #848484;
  margin-left: 60px;
}


.aboutme .image {
  background: url("./assets/images/me3.png") center center no-repeat;
  background-size: cover;
  min-height     : 1500px;
  border-width   : 15px;
  border-radius  : 25%;
  box-shadow: 0px 0px 0px 8px rgb(60, 60, 60);

}

.image2 {

  height       : 175px;
  width        : 175px;
  border-width : 15px;
  border-radius: 25%;
  box-shadow   : 0px 0px 0px 8px rgb(60, 60, 60);
  text-align   : center;
  margin       :auto;
  }

@media (min-width: 1px) {
  .aboutme .image2 {
  margin-top: 75px;


  }
}

@media (min-width: 1px) {
   .aboutme .image {
    display: none;

  }
}

@media (min-width: 1199px) {
  .aboutme .image2 {
  display: none;


  }
}

@media (min-width: 1200px) {
      .aboutme .image {
      display   : block;
      max-width : 100%;
      min-height: 700px;
      margin-top:  55px

  }
}


/*SCROLLUP*/

.scroll {
    color     : #fff;
    margin-top: 100px
}

#scrollUP {
    position        : fixed;
    bottom          : 26px;
    right           : 39px;
    z-index         : 98;
    padding         : 21px;
    background-color: hsla(5, 76%, 62%, .8)


}

.js .return-fade {
    opacity: .5
}

.js .return-visible {
    visibility: visible;
    opacity   : 1
}

.js .return-UP {
    visibility: hidden;
    opacity   : 0;
    transition: opacity .3s, visibility .3s, background-color .3s
    }

.return-UP {
    position        : fixed;
    bottom          : 20px;
    bottom          : var(--cd-back-to-top-margin);
    right           : 20px;
    right           : var(--cd-back-to-top-margin);
    display         : inline-block;
    height          : 40px;
    height          : var(--cd-back-to-top-size);
    width           : 40px;
    width           : var(--cd-back-to-top-size);
    box-shadow      : 0 0 10px rgba(0, 0, 0, .05) !important;
    background      : url(https://res.cloudinary.com/dxfq3iotg/image/upload/v1571057658/cd-top-arrow.svg) no-repeat center 50%;
    background-color: hsla(5, 76%, 62%, .8);
    background-color: hsla(var(--cd-color-3-h), var(--cd-color-3-s), var(--cd-color-3-l), 0.8)
}



/*SCROLLUP*/


/*PORTFOLIO */


#projects {
    background-color     : #ffffff;
    background-image     : url(assets/images/pattern.svg);
    background-attachment: fixed;
    background-size      : cover;
    }

.portfolioFilter li a {
  -webkit-transition: all 0.4s ease-in-out;
  transition        : all 0.4s ease-in-out;
  line-height       : 30px;
  }

.portfolioFilter li a:hover, .portfolioFilter li a.active {
  color           : #ffffff !important;
  background-color: #38b6ff;
}

.projectsBOX {
  -webkit-transition: all 0.2s ease;
  transition        : all 0.2s ease;
}

.projectsBOX .projectsBOX-img img {
  -webkit-transition: all 0.5s ease;
  transition        : all 0.5s ease;
}

.projectsBOX .projectsBOX-img .wrapper-port {
  position          : absolute;
  top               : 0;
  right             : 0;
  bottom            : 0;
  left              : 0;
  opacity           : 0;
  -webkit-transition: all 0.5s ease;
  transition        : all 0.5s ease;
  background-color  : rgba(60, 72, 88, 0.65);
}

.projectsBOX .projectsBOX-img .wrapper-port .project-content {
          position         : absolute;
          bottom           : 50%;
          -webkit-transform: translateY(50%);
          transform        : translateY(50%);
          right            : 0;
          left             : 0;
          }

.projectsBOX .projectsBOX-img .wrapper-port .project-content .work-icon {
          height            : 45px;
          width             : 45px;
          line-height       : 43px;
          -webkit-transform : translateY(40px);
          transform         : translateY(40px);
          -webkit-transition: all 0.5s ease;
          transition        : all 0.5s ease;
          }

  .projectsBOX .projectsBOX-img .wrapper-port .project-content .work-icon .image-icon {
  stroke-width: 2 !important;
}

  .projectsBOX .projectsBOX-img .wrapper-port .project-content .work-icon:hover {
  color: #38b6ff !important;
}

  .projectsBOX .projectsBOX-img .wrapper-port .project-content a:hover {
  background: #ffffff !important;
}

.projects-title {
color: #000000;

}

  .projectsBOX .projects-title {
  background: transparent;
}

  .projectsBOX .projects-title .title {
  -webkit-transition                 : all 0.5s ease;
  transition                         : all 0.5s ease;
  font-weight                        : 500;
  }
  
  .projectsBOX .projects-title .title:hover {
  color                              : #38b6ff !important;
  }

          .projectsBOX:hover {
          -webkit-box-shadow: 0 10px 25px rgba(60, 72, 88, 0.15) !important;
          box-shadow        : 0 10px 25px rgba(60, 72, 88, 0.15) !important;
          -webkit-transform : translateY(-5px);
          transform         : translateY(-5px);
          }
          
          .projectsBOX     :hover .projectsBOX-img img {
          -webkit-transform: rotate(2deg) scale(1.15);
          transform        : rotate(2deg) scale(1.15);
          opacity          : 0.5;
          }
          
          .projectsBOX     :hover .projectsBOX-img .wrapper-port {
          opacity          : 1;
          -webkit-transform: scale(1);
          transform        : scale(1);
          }
          
            .projectsBOX     :hover .projectsBOX-img .wrapper-port .project-content .work-icon {
            -webkit-transform: translateY(0px);
            transform        : translateY(0px);
            }
            
            
            @media (max-width: 767px) {
            .section {
            padding          : 60px 0;
            
            }
            .title-heading .heading {
            font-size        : 40px !important;
            }
            .section-title .title {
            font-size        : 24px;
            }
            }
            
            
            @media (max-width: 405px) {
            .section {
            padding          : 60px 0;
            }
            .section-title .title {
            font-size        : 20px;
            }
            }
            
            
            @media (max-width: 767px) {
            .portfolioContainer {
            max-width        : 95%;
            margin           :auto;
            }
            }
            
            @media (max-width: 575px) {
            .portfolioContainer {
            max-width        : 75%;
            margin           :auto;
            }
            }
            
            @media (max-width: 575px) {
            .projects-title {
            max-width        : 75%;
            margin           :auto;
            font-size        :  15px;
            }
            }
            
            @media (max-width: 223px) {
            .projects-title {
            max-width        : 75%;
            margin           :auto;
            font-size        :  10px;
            }
            }
            
            
            



portfolioContainer


/*PORTFOLIO */


/*CONTACT*/

              
              .contact {
              
              z-index              :  999;
              background-color     : #ffffff;
              background-image     : url(assets/images/pattern.svg);
              background-attachment: fixed;
              background-size      : cover;
              }
              
              .ceb {
              
              border-style         : solid;
              border-width         : 5px;
              }
              
              @media (max-width    : 400px) {
              .ceb {
              max-width            : 85%;
              }
              }
              
              
              
              /*CONTACT*/
              
              /*#contact {
              
              
              /*GLOW ONLY*/
              
              #name-logo  {
              animation            : name-logo 50s ease-in-out infinite alternate;
              background-image     : url(assets/images/fix.svg);
              height               : 500px;
              width                : 500px;
              display              : block;
              background-repeat    : no-repeat;
              stroke-linecap       :round; 
              stroke-linejoin      :bevel;
              position             : absolute;
              z-index              : -1;
              margin-top           : -700px ;
              margin-left          : -200px;
              }
              
              @keyframes name-logo  {
              from {
              filter               : drop-shadow( 0 0 750px #fff) drop-shadow( 0 0 0px #FA5454) drop-shadow( 0 0 0px #FA5454);
              }
              
              to {
              
              filter               : drop-shadow( 0 0 10px #fff) drop-shadow( 0 0 2px #FA5454) drop-shadow( 0 0 0px #FA5454);
              }
              }
              
              
        
        
        @media (max-width: 360px) {
        #name-logo {
        position         : absolute;
        margin-top       : 115px;
        width            : 50px;
        
        }
        }
        
        @media (min-width: 1px) {
        #name-logo {
        display          :none;
        }
        }
        
        @media (min-width: 768px) {
        #name-logo {
        display          : block;
        position         : absolute;
        z-index          : -1;
        margin-top       : -675px ;
        margin-left      : -250px;
        width            : 250px;
        height           : 250px;
        
        }
        }
        
        @media (min-width: 1024px) {
        #name-logo {
        position         : absolute;
        z-index          : -1;
        margin-top       : -675px ;
        margin-left      : -350px;
        width            : 350px;
        height           : 350px;
        
        }
        }
        
        @media (min-width: 1200px) {
        #name-logo {
        height           : 500px;
        width            : 500px;
        display          : block;
        background-repeat: no-repeat;
        stroke-linecap   :round; 
        stroke-linejoin  :bevel;
        position         : absolute;
        z-index          : -1;
        margin-top       : -700px ;
        margin-left      : -450px;
        
        }
        }
        
        @media (min-width: 1440px) {
        #name-logo {
        height           : 500px;
        width            : 500px;
        display          : block;
        background-repeat: no-repeat;
        stroke-linecap   :round; 
        stroke-linejoin  :bevel;
        position         : absolute;
        z-index          : -1;
        margin-top       : -700px ;
        margin-left      : -500px;
        
        }
        }






/*MAIN LOGO*/


 .mainLogo  {
   animation        : mainLogo 10.5s ease-in-out infinite alternate;
   
   height           : 100%x;
   width            : 100%;
   display          : flex;
   background-repeat: no-repeat;
   stroke           : white;
   color            : white;
   fill             : white;
   text-align       : center;
   position         : relative;
   z-index          : -999;
   margin-left      : -50px;
   

}

    @keyframes mainLogo {
    from {
    filter: drop-shadow( 0 0 -.75px #fff) drop-shadow( 0 0 0px #FA3535) drop-shadow( 0 0 0px #FA3535);
    }
    
    to {
    
    filter: drop-shadow( 0 0 0px #fff) drop-shadow( 0 0 2px #FA3535) drop-shadow( 0 0 0px #FA3535);
    }
    }
    
    


/*MAIN LOGO*/


/*FIX FACE LOGO*/

 #face-logo  {
        animation        : face-logo 10.5s ease-in-out infinite alternate;
        background-image : url(./assets/images/tes2.svg);
        height           : 850px;
        width            : 750px;
        display          : flex;
        background-repeat: no-repeat;
        stroke-linecap   :round; 
        stroke-linejoin  :bevel;
        position         : absolute;
        margin           :auto;
        margin-top       : -700px;
        margin-left      : 750px;
        z-index          : -999;
        
        }
        
        @keyframes face-logo {
        from {
        filter           : drop-shadow( 0 0 75px #fff) drop-shadow( 0 0 0px #f5c8ad) drop-shadow( 0 0 0px #f5c8ad);
        }
        
        to {
        
        filter           : drop-shadow( 0 0 10px #fff) drop-shadow( 0 0 2px #f5c8ad) drop-shadow( 0 0 0px #f5c8ad);
        }
        }
        
        
        
        @media (max-width: 360px) {
        #face-logo {
        position         : absolute;
        margin-top       : -580px;
        margin-left      : -55px;
        width            : 400px;
        height           : 400px;
        
        }
        }
        
        @media (min-width: 1px) {
        #face-logo {
        position         : absolute;
        margin-top       : -580px;
        margin-left      : -55px;
        width            : 400px;
        height           : 400px;
        
        }
        }
        
        
        @media (min-width: 768px) {
        #face-logo {
        position         : absolute;
        margin-top       : -550px;
        margin-left      : 205px;
        width            : 600px;
        height           : 600px;
        
        }
        }
        
        
        @media (min-width: 1024px) {
        #face-logo {
        position         : absolute;
        margin-top       : -550px;
        margin-left      : 300px;
        width            : 650px;
        height           : 650px;
        
        }
        }
        
        @media (min-width: 1200px) {
      #face-logo {
      height           : 850px;
      width            : 750px;
      display          : flex;
      background-repeat: no-repeat;
      stroke-linecap   :round; 
      stroke-linejoin  :bevel;
      position         : absolute;
      margin           :auto;
      margin-top       : -700px;
      margin-left      : 750px;
      z-index          : -999;
      }
      }




/*CONTACTS*/

      .mapouter {
      
      
      display          : block;
      margin-left      : auto;
      margin-right     : auto;
      }
      
      
      @media (min-width: 768px) {
      #email {
      margin-top       : 25px
      
      }
      }
      
      @media (min-width: 992px) {
      #email {
      margin-top       : 0px
      
      }
      }


/*CONTACTS*/


/*FOOTER */

    
    .footer {
    height               : auto;
    position             : relative;
    color                : #adb5bd;
    font-size            : 15px;
    width                : 100%;
    
    }
    
    
    .forms {
    
    
    z-index              :  999;
    background-color     : #ffffff;
    background-image     : url(assets/images/pattern.svg);
    background-attachment: fixed;
    background-size      : cover;
    
    }

/*FOOTER*/



/*MAP!!!*/

/*MAP!!!

/*BUTTONG!!!He*/


   .buttonview {
   
   animation        : border-flicker 20.5s linear infinite alternate;
   
   opacity          : 0.5;
   display          : flex; 
   margin           :auto;
   width            : 115px;
   margin-top       : 500px;
   position         : relative;
   border-radius    : 25px;
   
   }
   
   @media (min-width: 1024px) {
   .buttonview {
   margin-left      : 225px;
   margin-top       :  200px;
   position         : absolute;
   }
   }
   
   @media (min-width: 768px) {
   .buttonview {
   margin-left      : 155px;
   margin-top       :  125px;
   position         : absolute;
   }
   }
   
   
   
   @media (max-width: 1024px) {
   .buttonview {
   margin-left      : 125px;
   margin-top       :  100px;
   position         : absolute;
   }
   }
   



    
    @keyframes border-flicker {
    2% {
    border    : 7px dashed rgb(0, 280, 230);
    box-shadow: 0 100 -100px -50px rgb(147, 240, 157), 
    20 20 -52px -10px rgb(0, 180, 230) inset;
    }
    3% {
    border    : 6px dashed rgb(0, 40, 70);
    box-shadow: none;
    }
    5% {
    border    : 7px dashed rgb(0, 280, 230);
    box-shadow: 0 100 -100px -50px rgb(147, 240, 157), 
    20 20 -52px -10px rgb(0, 180, 230) inset;
    }
    6% {
    border    : 6px dashed rgb(0, 40, 70);
    box-shadow: none;
    }
    7% {
    border    : 7px dashed rgb(0, 280, 230);
    box-shadow: 0 100 -100px -50px rgb(147, 240, 157), 
    20 20 -52px -10px rgb(0, 180, 230) inset;
    }
    9% {
    border    : 6px dashed rgb(0, 40, 70);
    box-shadow: none;
    }
    13% {
    border    : 7px dashed rgb(0, 280, 230);
    box-shadow: 0 100 -100px -50px rgb(147, 240, 157), 
    20 20 -52px -10px rgb(0, 180, 230) inset;
    }
    16% {
    border    : 6px dashed rgb(0, 40, 70);
    box-shadow: none;
    }
    18% {
    border    : 7px dashed rgb(0, 280, 230);
    box-shadow: 0 100 -100px -50px rgb(147, 240, 157), 
    20 20 -52px -10px rgb(0, 180, 230) inset;
    }
    22% {
    border    : 6px dashed rgb(0, 40, 70);
    box-shadow: none;
    }
    34% {
    border    : 7px dashed rgb(0, 280, 230);
    box-shadow: 0 100 -100px -50px rgb(147, 240, 157), 
    20 20 -52px -10px rgb(0, 180, 230) inset;
    }
    36% {
    border    : 6px dashed rgb(0, 40, 70);
    box-shadow: none;
    }
    54% {
    border    : 7px dashed rgb(0, 280, 230);
    box-shadow: 0 100 -100px -50px rgb(147, 240, 157), 
    20 20 -52px -10px rgb(0, 180, 230) inset;
    }
    100% {
    border    : 7px dashed rgb(0, 280, 230);
    box-shadow: 0 100 -100px -50px rgb(147, 240, 157), 
    20 20 -52px -10px rgb(0, 180, 230) inset;
    }
    }